@charset "utf-8";
.container-fluid {
     		background-image: -webkit-linear-gradient(270deg, #141b4e 0%, #ffffff 50%, #adbee5 100%);
            background-image: -moz-linear-gradient(270deg, #141b4e 0%, #ffffff 50%, #adbee5 100%);
            background-image: -o-linear-gradient(270deg, #141b4e 0%, #ffffff 50%, #adbee5 100%);
            background-image: linear-gradient(180deg, #141b4e 0%, #ffffff 50%, #adbee5 100%);
}


#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item{
	font-weight:bold;
	padding: 0px 16px;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item:hover{	
	background: #A8B5FF;
	transition: 1s;	
}

.text-center a img:hover{
	filter: grayscale(0%);
	transform: scale(1.1);
	transition: 1s;
}
.row .col-xl-2 img{
	filter: grayscale(0%);	
}
.row .col-xl-2 img:hover{
	filter: grayscale(0%);
	transform: scale(1.1);
	transition: 1s;
}
.container-fluidTeam {
	background:rgba(227,239,255,1.00)
}

.card-body p strong {
	color:#50D050;
}

.card-body .card-text strong {
	color:red;
}
.col-xl-3 .card.col-md-4.col-xl-12 .card-img-top{
	margin: 0px;
	padding-top: 15px
}
.col-xl-3 .card.col-md-4.col-xl-12 .card-img-top:hover {
	transform: scale(1.1);
	transition: 1s;
}
.container-fluid .container .btn.btn-primary.submit:hover {
	background:green;
	transition: 0.5s;
}

.col-xl-3 .btn.btn-success:hover {
	background: rgba(62,0,245,1.00);
	transition: 1s;
}
.container-fluid_Next {
	background:rgba(241,234,255,1.00)
}
.container .row .col-xl-10 {
	border-radius: 50px;
	border:solid 5px;
	border-color:rgba(40,178,255,1.00)
}
.col-xl-4 .text-center img {
	margin: 60px
}
.container .row .col-xl-8 {
	border-radius: 30px;
	border:solid;
	background: rgba(213,209,209,1.00)
}
.row .col-xl-3 img {
	margin-left: 30px
}
.container-fluid_Mid{
	margin:0px;
	padding:0px;
}
.container-fluid_Mid .container {
	margin-left: 180px;
	margin-right:180;
	padding: 0px;
	min-height: 100vh;
	width:100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/repair.jpg");
	background-position: center;
	background-size: cover;
	position:relative;
}
.container-fluid_Mid .container .text-center {
	color:aliceblue;
	
}
	

.container .text-center .poster {
	filter: grayscale(80%);
	transition: 1s;
}
.container .text-center .poster:hover {
	filter:grayscale(0%);
	transform: scale(1.2);
	
}
.container-fluid_Mid .container .btn.btn-primary {
	margin-left: 480px;
	margin-bottom: 40px;
	
}

.container-fluid_Mid .container .btn.btn-primary:hover {
	background:mediumpurple;
	transition: 1s;
		
	}
	



